.media-twitter {
  display: table;
}

div.field--widget-entity-browser-entity-reference  details.form-wrapper {
  overflow: auto;
}

fieldset.article-teaser .fieldset-wrapper .field--name-field-teaser-text {
  padding: 0 10px
}

@media all and (min-width: 900px) {

  fieldset.article-teaser div.field--widget-entity-browser-entity-reference div.entities-list > div {
    margin: 10px 0;
  }

  fieldset.article-teaser .fieldset-wrapper {
    display: flex;
  }

  fieldset.article-teaser .fieldset-wrapper .field--name-field-teaser-media {
    width: 225px;
    min-width: 225px;
  }

  fieldset.article-teaser .fieldset-wrapper .field--name-field-teaser-media details.form-wrapper {
    border: 0;
    border-right: 1px solid #ccc;
  }

  fieldset.article-teaser .fieldset-wrapper .field--name-field-teaser-media details.form-wrapper summary{
    text-transform: none;
  }

  fieldset.article-teaser .fieldset-wrapper .field--name-field-teaser-text {
    margin: 14px;
  }

  fieldset.article-teaser .fieldset-wrapper .field--name-field-teaser-text .form-item-field-teaser-text-0-value{
    margin-top: 4px;
  }
}
